<%- include('partials/header') %>
<div style="padding-top:50px;padding-left:20px;" > 
    <div style="min-height:100px;">
        <h1>New Messages</h1>
        <%  new_messages.forEach(function(x){ %>
            <form action="/add" method="post">
             <h3><%=x.msg%></h3>
                <button style="background-color:#EEEBDD;" class="btn" type="submit" name="button1" value=<%=x._id%>>Add</button>            
                <input type="hidden" name="hiddenname" value=<%=id%>></input>
            </form>
        <% }) %>
    </div>
    <div>
        <h1>Messages</h1>
        <%  old_messages.forEach(function(x){ %>
            <div class="item">
              <h3><%=x.msg%></h3>
            </div>
        <% }) %>
    </div>
    <a role="button" style="background-color:#EEEBDD;position:absolute;bottom:50px;right:50px;" class="btn btn-lg"  href="/compose">New Message</a>
</div>
<%- include('partials/footer') %>
